Source: ros-rolling-cx-tf2-pose-tracker-plugin
Section: misc
Priority: optional
Maintainer: Tarik Viehmann <viehmann@kbsg.rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-clips-vendor, ros-rolling-cx-plugin, ros-rolling-cx-utils, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-tf2-ros, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-cx-tf2-pose-tracker-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-clips-vendor, ros-rolling-cx-plugin, ros-rolling-cx-utils, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-tf2-ros, ros-rolling-ros-workspace
Description: Track poses via periodic tf lookups.
